mixin price(text, prices)
  .mobile__message.mobile__message--colorizer  
    i.far.fa-circle.fa-lg
    p.mobile__message-price= text 
      span.mobile__message-price-money= prices

            
            